body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #000;
  color: #efefef;
}

header h1 {
  margin: 0 0 1em 1em;
}

header a {
  text-decoration: none;
  color: #efefef;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #000;
  color: #efefef;
  border-top: 1px dotted gray;
  padding: 1em 0;
  padding-top: 1em;
  font-size: 0.8em;
  text-align: center;
}

label {
  font-weight: bold;
}

.container {
  width: 80%;
  margin: 0 auto;
  background: #efefef;
  padding: 1em;
  text-align: center;
}


.board {
  width: 450px;
  margin: 0px auto;
}

.board table {
  border-collapse: collapse;
}

.board td {
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  font-size: 55pt;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.board td:last-child {
  border-right: none;
}

.board tr:last-child td {
  border-bottom: none;
}

