.board {
  width: 800px;
  margin: 0px auto;
}

.board table {
  border-collapse: collapse;
}

.board td {
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  font-size: 70pt;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.board td:last-child {
  border-right: none;
}

.board tr:last-child td {
  border-bottom: none;
}
